@model Hotels.ViewModels.ReservationFormViewModel
@{
    ViewBag.Title = "Complete Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Complete Reservation</h2>

@using (Html.BeginForm("Save", "Reservation"))
{
    <div id="startDateID" class="form-group">
        @Html.LabelFor(m => m.StartDate)
        @Html.TextBoxFor(m => m.StartDate, new {@class = "form-control", @readonly = "true"})
    </div>
    <div id="endDateID" class="form-group">
        @Html.LabelFor(m => m.EndDate)
        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", @readonly = "true" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GuestId)
        @Html.TextBoxFor(m => m.GuestId, new { @class = "form-control", @readonly = "true" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RoomId)
        @Html.DropDownListFor(m => m.RoomId, new SelectList(Model.Rooms, "Id", "Name"), "Select room", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RoomId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Discount)
        @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
        </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}