@model Hotels.ViewModels.ReservationViewModel

@{
    ViewBag.Title = "NewReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new reservation</h2>


@using (Html.BeginForm())

{
    <div class="form-group">

        @Html.LabelFor(model => model.StartDate)

        @Html.TextBoxFor(model => model.StartDate, new { Class = "form-control" })

        @Html.ValidationMessageFor(model => model.StartDate)

    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.EndDate)

        @Html.TextBoxFor(model => model.EndDate, new { Class = "form-control" })

        @Html.ValidationMessageFor(model => model.EndDate)

    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.Guest)

        @Html.DropDownListFor(model => model.Guest, new SelectList(Model.Guests, "Id", "FirstName"))

        @Html.ValidationMessageFor(model => model.Guest)

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}
