@model Hotels.ViewModels.ReservationFormViewModel
@{
    ViewBag.Title = "Select Date and Guest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select Date and Guest</h2>


@using (Html.BeginForm("SaveGuestDate", "Reservation"))
{
    <div id="startDateID" class="form-group">
        @Html.LabelFor(m => m.StartDate)
        @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @class = "form-control"})
    </div>
    <div id="endDateID" class="form-group">
        @Html.LabelFor(m => m.EndDate)
        @Html.TextBoxFor(m => m.EndDate, "{0:dd-MM-yyyy}", new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GuestId)
        @Html.DropDownListFor(m => m.GuestId, new SelectList(Model.Guests, "Id", "FirstName"), "Select guest", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GuestId)
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
}