@model Hotels.Models.Guest
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div>
    <ul>
        <li>First name: @Model.FirstName</li>
        <li>Last name: @Model.LastName</li>
        <li>Address: @Model.Address</li>
        <li>Email: @Model.Email</li>
        <li>Phone number: @Model.PhoneNumber</li>
    </ul>
</div>